{% extends 'base.html' %}

{% block header %}
    <h1 class="chat-title"> {% block title %}Doorman LLM{% endblock %}</h1>
{% endblock %}

{% block content %}

    <div class="webcam-container">
        <video id="webcam" autoplay playsinline></video>
    </div>

    <div class="chat-wrapper">
        <form class="chat-form" method="post">
            <label for="user_input">Enter an input:</label>
            <input type="text" name="user_input">    
            <input class="chat-button" type="submit" value="Submit" onclick="showLoadingSpinner()">
        </form>
    </div>

    <div class="chat-answer">
        {% if res %}
            <p>
                <strong>You:</strong> {{ user_input }} 
            </p>
            <p>
                <strong>Doorman:</strong> {{ res }}
            </p>
        {% endif %}
    </div>

    <audio controls>
        <source src="{{ url_for('static', filename=audio_filename) }}" type="audio/mpeg">
    </audio>

    <div id="loading-overlay" style="display: none;">
		<div id="loading-spinner">
			<div class="spinner"></div>
		</div>
		<p class="loading-message">Generating Answer...</p>
	</div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}