{% extends 'base.html' %}

{% block header %}
    <h1>
        Doorman Chat
    </h1>
{% endblock %}

{% block content %}
    <div class="chat-wrapper">
        <form class="chat-form" method="post">
            <label for="user_input">Enter an input:</label>
            <input type="text" name="user_input">    
            <input class="chat-button" type="submit" value="Submit" onclick="showLoadingSpinner()">
        </form>
    </div>

    <div class="chat-answer">
        <p>
            {{ res['response'] }}
        </p>
    </div>

    <div id="loading-overlay" style="display: none;">
		<div id="loading-spinner">
			<div class="spinner"></div>
		</div>
		<p class="loading-message">Generating Answer...</p>
	</div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}